<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LaPosadaConnectionString" connectionString="Data Source=192.168.1.128;Database=LaPosada;Integrated Security=false;User ID=sa;Password=Admin123;Connection Timeout=30;" />
    </connectionStrings>
</configuration>